.inputs-field{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 3rem 0;
}

.inputs-field input{
    margin-right: 2rem;
}

.inputs-field input:last-of-type{
    margin-right: 0;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}