.header{
    height: 6rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #e9e6e1;
    color: #2b475c;
}

.logo {
    height: 80%;
}

.logo img {
    height: 100%;
}